Equipos_Futbol_Americano/src/xml/Jugadores.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT Jugadores (Jugador+)>
<!ELEMENT Jugador (nombre, apellidos, equipo, posicion, salario)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT equipo (#PCDATA)>
<!ELEMENT posicion (#PCDATA)>
<!ATTLIST posicion dorsal CDATA #REQUIRED> 
<!ELEMENT salario (#PCDATA)>